{% extends 'youtube/base_files/base.html' %}
{% load static %}
{% load VideoCategory %}
{% load VideoCategoryChannelId %}
{% load VideoCategorychanneltitle %}
{% block title %} Follow Favourite Community{% endblock %}
{% block extrastylesheet %}
<link rel="stylesheet" href="{% static 'youtube/css/home.css' %}">
<link rel="stylesheet" href="{% static 'youtube/css/athlets.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
{% endblock %}
{% block content %}
<!-- ***************Upper Block -->
{% include 'youtube/community/community_upper_block.html' %}


<!-- ************************* Youtube API Categories Block ************************* -->
{% for profile in profile_categories %}
<div class="main_container most_recent_block ">

    <div class="main_container_header">
        <div>
            <h1 class="categories_title"> {{profile.category_name}}</h1>
        </div>

    </div>

    <div class="videos_main_div  ">
        {% for athlete in all_community %}
        {% if athlete.profile_category.category_name == profile.category_name %}
        <div class="video_box ">
            <div class="video_box_upper" onclick="script: $(this).siblings('form').submit()">
                <div style="margin-bottom: 5px;">
                    <img src="{{athlete.avatar_image.url}}" alt="" width="100%">
                </div>


            </div>
            <form action="{% url 'community_profile' %}" method="post">
                {% csrf_token %}
                <input hidden class="community_keyword" name="community_keyword" value="{{athlete.keyword.keyword}}">
            </form>

            <div class="watch_list_block">

                <p class="channel_video_title">{{athlete.name}}</p>

                <!-- <p class="channel_video_title" onclick="script: $(this).parent('form').submit()"
                    style="cursor: pointer; margin: 0;">{{athlete.keyword.keyword}}</p> -->

                <div>
                    <input hidden class="community_keyword" value="{{athlete.keyword.keyword}}">
                    {% if athlete.keyword.keyword in follow_community_list %}
                    <button type="button" class=" btn_follow  " onclick="unfollow_community(this)">Unfollow</button>
                    <button type="button" class=" hidden btn_follow" onclick="follow_community(this)">Follow</button>

                    {% else %}
                    <button type="button" class=" hidden btn_follow" onclick="unfollow_community(this)">Unfollow</button>
                    <button type="button" class=" btn_follow" onclick="follow_community(this)">Follow</button>
                    {% endif %}
                </div>
            </div>


        </div>
        {% endif %}
        {% endfor %}




    </div>
</div>
{% endfor %}
{% include 'youtube/community/follow-unfollow-community.html' %}


{% endblock %}
{% block extrascript %}
<script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>
<script src="{% static 'youtube/js/auto_complete.js' %}"></script>
<script src="{% static 'youtube/js/save_video.js' %}"></script>
<!-- <script src="{% static 'youtube/js/filtering_videos.js' %}"></script> -->

<script>
    // Set a timer for delay function
    const timer = ms => new Promise(res => setTimeout(res, ms))
    // Funtion to click the button to load data in home page
    async function load() { // We need to wrap the loop into an async function for this to work
        btns = document.getElementsByClassName("onload_filter");
        for (var i = 0; i < btns.length; i++) {
            console.log('Click default', btns[i])
            btns[i].click()
            await timer(3000)
        }
    }

    // Calling the load function to add data 
    $(document).ready(function () {
        load();
    });
    $(".video_box_upper").click(function () {
        $(this).children('form').submit()
    });


    if ($('.videos_main_div').children().length == 0) {
        console.log('Empty')
        $(this).siblings('h1').remove()
        //do something
    }
    // ************************** Drop Down JS
    function filter_dropdown(element) {
        $(element).siblings('div').toggleClass("show_filter_dropdown");
    }

    // **************************Videos Option Drop Down JS
    function video_options_dropdown(element) {
        $(element).siblings('div.video_options_dropdown').toggleClass("show_video_option_dropdown");
    }
    // Close the dropdown if the user clicks outside of it
    window.onclick = function (event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
</script>

{% endblock %}