
{% extends 'youtube/base_files/base.html' %}
{% load static %}
{% load VideoCategory %}
{% block title %} Follow a Personality{% endblock %}
{% block extrastylesheet %}
<link rel="stylesheet" href="{% static 'youtube/css/home.css' %}">
{% comment %} <link rel="stylesheet" href="{% static 'youtube/css/parts_css/filter_dropdown.css' %}"> {% endcomment %}
<link rel="stylesheet" href="{% static 'youtube/css/personality_follow.css' %}">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
<style>
    
</style>
{% endblock %}
{% block content %}
<!-- ***************Upper Block -->
{% include 'youtube/athlete_profile/follow_athlete_upper_block.html' %}
  
{% comment %} <div class="upper_block_main">
    <h1></h1>
</div> {% endcomment %}

<div class="main_container" >
    <div class="main_container_header">
        <div><h1 class="categories_title"> Follow a Personality</h1></div>
        
    </div>
    
    <div class="video_box_2">
      {% for keyword in all_keywords %}
      
      <div class="slide-container slide-container_1 ">
         <div class="slide-content">
             <div class="card-wrapper ">
                <div class="card1 swiper-slide">
                    <div class="image-content">
                        <div class="card-image">
                            <!-- <img class="personality_profile_image" src="{% static 'user/images/blank-profile-picture.png' %}" alt="{{video_title | safe}}" style="width:85px"> -->
                            {% if keyword.image %}
                            <img class="personality_profile_image" src="{{keyword.image.url}}" alt="{{video_title | safe}}" style="width:85px">
                            {% else %}
                            <img class="personality_profile_image" src="{% static 'user/images/blank-profile-picture.png' %}" alt="{{video_title | safe}}" style="width:85px">
                            
                            {% endif %}
                         </div>
                    </div>

                    <div class="card-content">
                        {% if keyword.keyword %}
                        <h1 class="name">{{ keyword.keyword}}</h1>
                        {% else %}
                        <h1 class="name">{{ keyword.data.0.snippet.channelTitle }}</h1>
                        {% endif %}
                        <p class="description">{{ keyword.category.category }}</p>
                        <div class="personality_header_right">
                            <input type="text" name="follow_keyword" id="follow_keyword_value" value="{{ keyword.keyword }}" hidden>
                            <input type="text" name="follow_keyword_channel_id" id="follow_keyword_channel_id_value" value="{{ keyword.data.0.snippet.channelId }}" hidden>
                            <div class="follow_button_block">
                              {% if keyword.keyword in followed_list %}
                              <button class="button hidden" id="" onclick="follow_personality(this)">Follow</button>
                              <button class="button" id="" onclick="unfollow_personality(this)">Unfollow</button>
                              {% else %}
                              <button class="button" id="" onclick="follow_personality(this)">Follow</button>
                              <button class="button hidden" id="" onclick="unfollow_personality(this)">Unfollow</button>
                              {% endif %}
                            </div>
                         </div>
                     </div>
                  </div>
               
              </div>  
         </div>
   
       {% endfor %}
        
      </div>
    </div> 
 
</div>

{% include 'youtube/JS_work/filtering_videos_javascript.html' %}
{% include 'youtube/JS_work/adding_data_on_scrolling_js.html' %}
{% endblock %}
{% block extrascript %}
<script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>
<script src="{% static 'youtube/js/auto_complete.js' %}"></script>
<script src="{% static 'youtube/js/follow_personality.js' %}"></script>
<!-- <script src="{% static 'youtube/js/filtering_videos.js' %}"></script> -->

<script>

</script>


{% endblock %}



