{% load static %}
<link rel="stylesheet" href="{% static 'youtube/css/athlete_profile/follow_athlete.css' %}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="{% static 'youtube/css/home_subblocks/hero_section.css' %}"> 
<link rel="stylesheet" href="{% static 'youtube/css/home_subblocks/slider_section.css' %}">


<div class="upper_block_main " style=" font-style:bold">
  <h1>Follow Your Favourite Athlete</h1>
  
  <div style="text-align: center; width:60%; ">
    <p>We know you don't want to miss a moment from your favourite athletes. Click follow on each athlete and we will
      make sure you get the most up-to-date high quality content from all your favourite athletes</p>
      
        
  </div>
  <div class="search_box2" style="position: relative;">
    <!-- <button style='padding-right:10px'> <i class="fa fa-search" id='fa-search' ></i></button> -->
    <input type="text" placeholder="   Search...">
    <div style="position: relative;">
      <i class="fa fa-search" id='fa-search' style="left: -30px;" ></i>
    </div>

    
</div>
 
</div>